// *************************************
//
//   Well
//   -> Vertical spacing
//
// -------------------------------------
//   Template (Haml)
// -------------------------------------
//// *************************************
//
//   Row
//   -> Width-spanning blocks
//
// -------------------------------------
//   Template (Haml)
// -------------------------------------
//
// .row[a|b]
//   / ...
//
// *************************************

.row {
  overflow: hidden;
  padding: 0 $b-space;
}

// -------------------------------------
//   Modifiers
// -------------------------------------

// ----- Theme ----- //

// Primary

.row--a {
  background: $c-highlight;
}

// Secondary

.row--b {
  background: $c-subdue;
}

// .well[l]
//   / ...
//
// *************************************

.well {
  margin-bottom: $b-space;
  margin-top: $b-space;
}

// -------------------------------------
//   Modifiers
// -------------------------------------

// ----- Sizes ----- //

.well--l {
  margin-bottom: $b-space-l;
  margin-top: $b-space-l;
}
