// *************************************
//
//   Buttons
//   -> Individual style containers
//
// -------------------------------------
//   Template (Haml)
// -------------------------------------
//
// .btn
//   	/ ...
//
// *************************************

.btn {
	background: $c-primary;
	border: 0;
	color: $c-text-invert;
	cursor: pointer;
	display: inline-block;
	font-size: 75%;
	font-weight: bold;
	line-height: 3;
	padding: 0;
	width: 100%;
	text-align: center;
	text-transform: uppercase;
	@include transition(background 0.2s ease-in-out,color 0.2s ease-in-out);
	white-space: nowrap;
	@media screen and (min-width: $g-s) {
		padding: 0 2.5em;
		width: auto;
	}
	&:hover {
		color: $c-text-invert;
		background: shade($c-primary,15%);
	}
	&--tall {
		padding-top: 1.5em;
		padding-bottom: 1.5em;
	}
	&--full {
		width: 100%;
	}
	&--wide {
		padding-left: 5em;
		padding-right: 5em;
	}
	&--a {
		background: transparent;
		border: 1px solid white;
	}
	&--secondary {
		background-color: $c-secondary;
	}
}