// *************************************
//
//   Card
//   -> Individual style containers
//
// -------------------------------------
//   Template (Haml)
// -------------------------------------
//
// .card
//   / ...
//
// *************************************

.card {
	background: $c-background-invert;
	border-radius: $b-borderRadius;
	box-shadow: $b-boxShadow;
	padding: $b-space-l $b-space;
	position: relative;
	h2,h3 {
		color: $c-primary;
	}
	@media screen and (min-width: $g-m) {
		p {
			font-size: 110%;
		}
	}
}
