// *************************************
//
//   Index Page Styles
//   -> These styles are only for the home page
//
// *************************************


// -------------------------------------
//   Department
// -------------------------------------

.department {
	border-top: 1px solid #dddddd;
	overflow: hidden;
	// ----- department-item ----- //
	&-item {
		border-left: 1px solid #dddddd;
		padding-top: $b-space-l;
		padding-bottom: $b-space-l;
		border-bottom: 1px solid #dddddd;
		&:first-child {
			border-left: none;
		}
		&:hover {
			.department-info {
				bottom: 0px;
			}
		}
		@media screen and (min-width: $g-s) {
			padding-top: $b-space-xl;
			padding-bottom: $b-space-xl;
		}
		@media screen and (min-width: $g-m) {
			padding-top: $b-space-xxl;
			padding-bottom: $b-space-xxl;
		}
	}
	// ----- department-icon ----- //
	&-icon {
		font-size: 700%;
		color: #999999;
	}
	// ----- department-info ----- //
	&-info {
		padding: $b-space-l $b-space;
		@include transition(0.5s ease);
		h3 {
			color: $c-invert;
			display: none;
		}
		p {
			color: $c-text-grey;
		}
		@media screen and (min-width: $g-m) {
			background: rgba($c-primary, .95);
			height: 100%;
			width: 100%;
			left: 0;
			right: 0;
			bottom: -105%;
			position: absolute;
			h3 {
				display: block;
			}
			p {
				color: $c-invert;
			}
		}
	}
}

// -------------------------------------
//   Leadership
// -------------------------------------

.leadership {
	// ----- leadership-item ----- //
	&-item {
		margin: 0 auto;
		@media screen and (min-width: $g-m) {
			margin: 0 $b-space-s;
		}
		img {
			display: block;
			margin: 0 auto;
			border: 3px solid #ffffff;
			&.two {
				display: none;
			}
		}
		&.is-active {
			.leadership-social {
				bottom: 0;
			}
		}
		&-figure {
			max-width: 306px; 
			overflow: hidden; 
			width: 100%; 
			margin: 0 auto;
		}
	}
	// ----- leadership-info ----- //
	&-info {
		position: absolute;
		top: 50%;
		left: 0px;
		margin-top: -50px;
		width: 100%;
		text-shadow: 1px 1px 20px rgba(0, 0, 0, 0.25);

	}
	// ----- leadership-social ----- //
	&-social {
		position: absolute;
		bottom: -100%;
		left: 0px;
		z-index: 10;
		padding: 0;
		margin: 0;
		width: 100%;
		height: 65px;
		background: $c-primary;
		text-align: center;
		border-left: 3px solid #ffffff;
		border-right: 3px solid #ffffff;
		@include transition(0.3s ease-in-out);
		li {
			line-height: 65px;
			margin: 0;
			display: inline-block;
			vertical-align: middle;
			list-style-image: none;
			list-style: none;
			margin: 0px 2%;
			padding: 0px;
			font-size: 25px;
			a {
				color: $c-invert;
			}
		}
	}
	h3 {
		font-size: 240%;
		line-height: 40px;
	}
	h3, p {
		backface-visibility: hidden;
		-webkit-backface-visibility: hidden;
	}
}

// -------------------------------------
//   Location
// -------------------------------------

.location-icon {
	font-size: 300%;
}

// -------------------------------------
//   Contact Info
// -------------------------------------

.contact-info {
	// ----- contact-info-item ----- //
	&-item {
		@media screen and (max-width: $g-s-max) {
			margin-top: $b-space-l;
			&:first-child {
				margin-top: 0;
			}
		}
	}
	// ----- contact-info-icon ----- //
	&-icon {
		@media screen and (max-width: $g-s-max) {
			margin-bottom: $b-space;
		}
	}
}


// owl
.owl-theme .owl-controls .owl-page span {
	display: block;
	width: 12px;
	height: 12px;
	margin: 5px 7px;
	filter: Alpha(Opacity=50);
	opacity: 0.5;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	background: #757575;
}
.owl-theme .owl-controls .owl-page {
	display: inline-block;
	zoom: 1;
}
.owl-theme .owl-controls .owl-page.active span, .owl-theme .owl-controls.clickable .owl-page:hover span {
	filter: Alpha(Opacity=100);
	opacity: 1;
}
.owl-theme .owl-controls {
	margin-top: 10px;
	text-align: center;
}

.owl-theme .owl-controls .owl-buttons div {
	color: #FFF;
	display: inline-block;
	zoom: 1;
	margin: 5px;
	padding: 3px 10px;
	font-size: 12px;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
	background: #757575;
	filter: Alpha(Opacity=50);
	opacity: 0.5;
	&:hover {
		filter: Alpha(Opacity=100);
	opacity: 1;
	}
}

.owl-theme .owl-controls .owl-buttons {
	display: none;
}

