// *************************************
//
//   Perks
//   -> Width-spanning blocks
//
// -------------------------------------
//   Template (html)
// -------------------------------------
//
// .row[.row--a|b]
//   / ...
//
// *************************************

.perks {

}

.perk {
	&-circle {
		width: 148px;
		height: 148px;
	}
	&-icon {
		font-size: 500%;
		line-height: 148px;
	}
}
